* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
  }
  
  
  .section-wrapper {
    display: flex;
    min-width: 900px;
    min-height: 500px;
    background-color: white;
    border-top-left-radius: 20px; /* Curves the top-left corner */
    border-bottom-left-radius: 20px; 
    border-top-right-radius: 20px; /* Curves the top-left corner */
    border-bottom-right-radius: 20px; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
  }
  
  .section-left {
    background-color: white;
    flex-basis: 100%;
    box-shadow: 5px;  
    border-top-left-radius: 20px; /* Curves the top-left corner */
    border-bottom-left-radius: 20px; /* Curves the bottom-left corner */
  }
  
  .section-right {
    background-color: #6eb7eb;
    flex-basis: 100%;
    width: 250px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 15px; /* Curves the top-left corner */
    border-bottom-right-radius: 15px; 
  }
  
  .left-wrapper {
    min-height:100%;
    min-width:100%;
    padding:30px;
  }
  
  .calc-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    
  }
  
  #clear-btn:hover {
    cursor: pointer;
  }
  
  .calc-title h1 {
    font-size: 20px;
  }
  
  .calc-title h3 {
    font-size: 15px;
    font-weight: 200;
    text-decoration: underline;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Optional: add space between grid items */
  }
  
  .amount-grid {
    grid-column: 1 / span 2;
    }
  
  .amount label {
    display: block;
    font-size: 15px;
    padding-bottom: 5px;
  }
  
  .first-input {
    width:100%;
    padding: 10px;
   }
  
  .input-wrapper {
    display:flex;
    border-radius: 2px; 
    box-shadow: 0 0 0 1px #000;
  }
  
  label {
    display:block;
  }
  
  .label-padding {
    padding: 10px;
  }
  
  .amount-icon {
    padding:10px;
    background: #6F9AF0;
    align-items: stretch;
    }
  
  .mortgage-icon {
    padding:10px;
    background: #6F9AF0;
   }
  
  .term-wrapper{
    display: flex;
  }
  
  .interest-wrapper {
    display: flex;
  }
  
  .type-title {
    font-size: 15px;
    font-weight: 300;
    
  }
  
  .radio-input {
    display: flex;
    gap:10px;
    width:100%;
    background: white;
    border-radius: 2px; 
    box-shadow: 0 0 0 1px #000;
    padding: 10px;
    margin-bottom:10px;
  }
  
  .calc-btn {
    display:flex;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    gap:10px;
    width: 60%;
    padding: 15px;
    border: 0px solid;
    border-radius: 30px;
    margin-top: 35px;
    background: #e2eb6e;
    }
  
  .calc-btn:hover{
    cursor: pointer;
  }
  
  .right-wrapper {
    padding: 25px;
  }
  
  .repayment-wrapper {
    background: #0866a8;
    padding: 30px;
   
    border-radius: 10px;
    border-top: 5px solid #e2eb6e;
  }
  
  .repayment-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
  
  .repayment-wrapper h3 {
    margin: 0px;
    font-size: 15px;
    color: white;
    font-weight: 200
  }
  
  .final-amount {
    font-size: 40px;
    color: #e2eb6e;
  }
  
  .repay-amount {
    font-size:30px;
    color: white;
  }
  
  .repay-flex {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 8px;
  }
  
  @media (max-width: 768px) {
    .section-wrapper {
      flex-direction: column;
      min-width: 100%;
      min-height: auto;
    }
  
    .section-right {
      width: 100%;
      border-radius: 0 0 20px 20px;
    }
  }